# TMDB API Credentials
TMDB_API_KEY=your_tmdb_key
TMDB_READ_ACCESS_TOKEN=your_tmdb_token

# OMDb API Key (Opcional)
OMDB_API_KEY=

# RAWG Video Games API
RAWG_API_KEY=your_rawg_key

# Supabase PostgreSQL Database URLs
DATABASE_URL="your_supabase_pooler_url"
DIRECT_URL="your_supabase_direct_url"

# Supabase Public Keys
NEXT_PUBLIC_SUPABASE_URL="your_supabase_project_url"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="your_supabase_publishable_key"
